:root {
  --header-height: 64px;
}

.ant-layout > .ant-layout {
  padding-top: var(--header-height);
}

.ant-layout-content {
  padding-top: 0;
}

.ant-layout-header {
  border-bottom: 1px solid #e5e7eb;
}